.p-services {
    border-bottom: 1px solid #99cc33;
}
.p-services-sec2 {
    padding: 3rem 0;
}
.p-services-sec2 .p-about-sec2-ttl {
    max-width: 600px;
    font-size: 1.5rem;
}
.p-sitting {
    width: 55%;
    margin-left: -3rem;
}
.p-services-sec2 .p-sec2 {
    padding-top: 5.5rem;
}
.p-services-btn {
    width: 150px;
    height: 45px;
    margin-bottom: 1rem;
    color: #fff;
    background: #99cc33;
    border: 1px solid #99cc33;
    border-radius: 5px;
    font-size: 14px;
}
.p-services-man {
    width: 36%;
    right: -1rem;
    max-width: 420px;
    position: absolute;
    bottom: 0;
}
.p-services-btnsec {
    margin-top: 4rem;
}