.gooogg {
  max-width: 28px;
  margin-top: 2px;
  margin-bottom: .3rem;
}
.alreadyhave1 a {
  color: #444444 !important;
  font-size: 14px;
  text-align: center;
}
.alreadyhave1 {
  text-align: center;
}
.signtxt{
  font-size: 14px !important; 
  font-weight: bold !important;
  margin-bottom: 0px;
  padding-top: 1.5rem !important;
  line-height: 0 !important;
  color: #001833 !important;
}
.signtxt2{
  font-size: 14px !important;
  font-weight: bold !important;
  margin-bottom: 10px;
  color: #001833 !important;
}
.signtxti{
  padding-bottom: 0px;
}
