.gooogg {
  max-width: 28px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.alreadyhave1 a {
  color: #444444 !important;
  font-size: 14px;
  text-align: center;
}
.alreadyhave1 {
  text-align: center;
}
