.shifbb {
  margin-bottom: 2rem;
}
.dxxa {
  display: flex;
  align-items: center;
}
.sassa {
  position: relative;
  left: 1rem;
  bottom: 0.4rem;
}
.searchImage {
  position: absolute;
}
.dshbdsearchbar {
  padding-left: 2.9rem !important;
}
.dshbdsearchbar::placeholder {
  color: #bbbbbb;
}
.dshbdsearchbar {
  height: 66px;
  border-radius: 6px;
  padding: 9px;
  border: none;
  outline: none;
}
.dshbdsearchbar:focus {
  outline: none !important;
  border: none !important;
}

.genbg {
  background: #fcfcfc;
}
.currt {
  background: linear-gradient(241.8deg, #9c1258 -24.42%, #18214d 171.01%);
  height: 65px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.afcard {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: #ffff;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.1);
  border-radius: 16px;
  margin-bottom: 2rem;
}
.textcaas {
  text-align: center;
}
.abjon {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: #ffffff;
  padding-top: 0.1rem;
}
.sepr3 {
  margin: 0rem 2rem;
  margin-top: 0.5rem;
  border: 1px solid #f9f9f9;
  margin-bottom: 0.5rem;
}

.afflt {
  font-size: 12px;
  line-height: 14px;
  color: #999999;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.amnntt {
  font-size: 40px;
  line-height: 47px;
  color: #27ae60;
  font-weight: 700;
  padding-bottom: 1rem;
}
.reflink2 {
  margin-left: 2rem;
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}
.afflt1 {
  color: #666666;
}
.sette {
  background: #fcfcfc;
  border-radius: 8px;
}
.sette {
  margin: auto;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 12px;
  line-height: 14px;
  color: #bbbbbb;
  margin-top: 1rem;
  padding: 0.2rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clatxt {
  display: inline;
  /* min-inline-size: fit-content; */
  padding-left: 1rem;
}
.clatxt2 {
  background: #cbe2ff;
  border-radius: 0px 8px 8px 0px;
  padding: 0.5rem;
}
.adadaa {
  position: relative;
  bottom: 2.5rem;
}
.firstAF {
  padding-right: 3rem;
}
.username23 {
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
}
.weellc {
  padding-left: 0.5rem;
}
.facce {
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  padding-left: 2.3rem;
}
.totolta {
  font-size: 38px;
  line-height: 45px;
  /* Blue 1 */
  color: #2f80ed;
  font-weight: bolder;
  padding-left: 0.9rem;
}
.boxxqq12 {
  width: 190px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.1);
  border-radius: 16px;
  height: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.totoltc {
  width: 148px;
  display: flex;
  padding-top: 0.8rem;
}
.totoltb {
  width: 148px;
  color: #666666;
}
.ttotlaclnt {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.poill {
  color: #eb5757;
}
.greenstar1 {
  color: #27ae60;
}
.textxlef {
  text-align: right;
  padding-right: 1rem;
}
.widd12 {
  padding: 1rem 0.8rem !important;
  width: 50%;
  border-left: 0px solid #ffff !important;
}
.table-bordered td,
.table-bordered th {
  border: none !important;
}
.ttebe {
  font-size: 12px;
}
.lisst {
  padding: 1rem 0.4rem !important;
}
#uncontrolled-tab-exa2-tab-TotalClients,
#uncontrolled-tab-exa2-tab-OnFreePlan,
#uncontrolled-tab-exa2-tab-contact {
  background: #ffffff;
  border-radius: 16px 0px 0px 0px;
  border: none;
  font-size: 12px;
  padding: 1.5rem 2rem;
  font-weight: 600;
}
.table-striped {
  background: #f9f9f9;
  border-bottom: 0px solid transparent;
}

.activecomp {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.125);
  padding-left: 1rem;
  line-height: 41px;
}
.BArow1 {
  padding: 1rem 3rem;
  background-color: #fcfcfc;
}
.BAfirstsec {
  display: flex;
  justify-content: space-between;
}
.BAform {
  width: 85%;
}
.BAcaret {
  margin: 1rem;
  cursor: pointer;
  transform: rotate(180deg);
}
.BAcaret-up {
  transform: rotate(0deg);
}
.BArow2 {
  padding-top: 1.5rem;
}
.BArow2txt1 {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}
.BAprofile {
  position: relative;
}
.BAviewprofile {
  position: absolute;
  padding: 1rem;
  width: 190px;
  text-align: center;
  right: 0;
  background: #ffffff;
  border-radius: 6px;
  font-size: 12px;
  margin-top: 1rem;
  box-shadow: 0px 6px 20px rgba(25, 32, 56, 0.24);
}
.BAvpeye {
  margin-right: 0.8rem;
}
.BAbalance {
  margin: 4rem auto 0rem auto;
  width: 60%;
}
.BAsubtxt {
  color: #666666;
  font-size: 12px;
  width: 100%;
  text-align: center;
}
.BAsubbtn {
  margin: 2rem auto 4rem;
  background: #18214d;
  border-radius: 6px;
  border: 1px solid #18214d;
  color: #ffffff;
  font-size: 14px;
  height: 45px;
  width: 240px;
  transition: 0.2s;
}
.BAsubbtn:hover {
  transform: scale(1.05);
}
@media (max-width: 800px) {
  .BAform {
    width: 60%;
  }
  .BAavatar {
    width: 40px;
  }
  .BAsearchbar {
    height: 40px;
  }
  .BAviewprofile {
    width: 160px;
  }
}
@media (max-width: 600px) {
  .BAbalance {
    width: 70%;
  }
}
@media (max-width: 400px) {
  .BAbalance {
    width: 80%;
  }
  .BArow1 {
    padding: 1rem 2rem;
  }
  .BArow2txt1 {
    font-size: 16px;
  }
  .BAviewprofile {
    width: 140px;
  }
}

.BAsections {
  display: flex;
  background-color: #f5f5f5;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 2rem;
  font-size: 13px;
  margin-top: 1rem;
}
.BAselect {
  background: #ffffff;
  text-align: center;
  width: 16%;
  padding: 0.8rem 0.2rem;
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
  color: #999999;
}
.activeselect {
  color: #9c1258;
  font-weight: 600;
}
.BArow3 {
  background-color: #f5f5f5;
  padding: 1rem 2.5rem;
  margin-bottom: 3rem;
}
.BAanalyticsttl {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.BAAttl1 {
  padding: 1rem 0;
  font-size: 15px;
  color: #9c1258;
  font-weight: 600;
}
.BAmorebtn {
  color: #1bb978;
  font-size: 13px;
  background: #e7ffe8;
  box-shadow: 0px 4px 10px rgba(102, 102, 102, 0.16);
  border-radius: 8px;
  border: 1px solid #e7ffe8;
  height: 50px;
  font-weight: 600;
  width: 200px;
}
.BAinfo {
  margin-left: 1rem;
}
.BAAsection {
  width: 100%;
}
.BAAboxes {
  margin: 3rem 0 2rem;
    display: flex;
    flex-wrap: wrap;
}
.BAAbox {
  background: #ffffff;
  border-radius: 8px;
  flex: 45%;
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.BAboxttl {
  display: flex;
}
.BAboxtxt {
  flex: 90%;
  text-align: center;
  font-size: 14px;
  color: #333333;
  font-weight: 600;
}
.BAboxinfo {
  flex: 10%;
  text-align: right;
}
.BAboxcontent {
  padding: 2.5rem 2rem 2rem;
}
.BApercent {
  justify-content: space-around;
  display: flex;
}
.BApiettl {
  text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: #333333;
    margin-top: 1rem;
}
.BAcircle1 {
  margin-right: 1rem;
}
@media(max-width: 1000px) {
  .BAselect {
    height: 60px;
  }
}
@media(max-width: 800px) {
  .BArow3 {
    padding: 1rem 1.5rem;
  }
}
@media(max-width: 700px) {
  .BAsections {
    flex-wrap: wrap;
    padding-bottom: 0;
  }
  .BAselect {
    margin-bottom: 0.3rem;
    width: 33%;
    height: 44px;
  }
}
@media(max-width: 600px) {
  .BAAbox {
    margin-left: 0;
  }
  .BAboxcontent {
    padding: 2.5rem 0.5rem 0.5rem;
  }
  .BAmorebtn {
    width: 165px;
  }
}
@media(max-width: 416px) {
  .BAselect {
    height: 66px;
  }
}
@media(max-width: 416px) {
  .BArow3 {
    padding: 1rem;
  }
  .BAmorebtn {
    margin-top: 3.5rem;
    position: absolute;
    right: 1rem;
  }
  .BAAboxes {
    margin-top: 5rem;
  }
  .BAAbox {
    width: 100%;
  }
}