.action-section{
    background-color: #23304C;
    padding: 30px 20px;
}

.action-container{
    max-width: 1500px;
    margin-top: 5.5rem;
    min-height: 90vh;
}

.action-cards{
    background-color: #fff;
    margin: 1rem;
    max-width: 17rem;
    height: 180px;
    border-radius: 15px;
}

.action-row{
    justify-content: center;
}
.card-body{
    padding-top: 2rem;
}
.card-body p{
    font-family: "Brfirma-Bold";
    font-size: 14px;
}
.action-card-icon{
    padding-top: 2rem;
}
.card-icon{
    padding-left: 0.8rem;
}
.action-heading{
    color: #fff;
    font-size: 23px;
}
.action-header{
    text-align: center;
    padding-bottom: 20px;
}