.policy_page{
    background-color: #23304c;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 100%);
    padding-bottom: 49px;
}
.privacy-title{
    padding: 82px 0px 76px 0px;
    color: #fff;
    font-weight: 100;
}
.centralized-content{
    display: flex;
    justify-content: center;
    position: relative;
    top: 81px;
}
.policy-card{
    box-shadow: 6px 6px 17px -6px rgba(0,0,0,.2);
}
.policy-section{
    background-color: #f9f9f9;
    margin-top: -164px;
    padding-bottom: 155px;
}

.policy-content{
    position: relative;
}
.policy-header{
    text-align: center;
    color: #23304c;
    background-color: #fff !important;
    cursor: unset;
    padding-top: 41px;
     font-size: 19px; 
    font-weight: 700;
    padding-bottom: 25px;
}
.card-body{
    word-spacing: normal;
}
.policy_card-body{
    padding: 0px 52px 114px 52px;
}
.legal-cont{
    margin-bottom: 36px
}
@media screen and (max-width: 768px){
    .policy_card-body{
        padding: 0px 25px 114px 25px;
    }
}