.acctcnfm-section{
    background-color: #23304c;
    color: #fff;
    height: 100vh;
}
.acccnfimdiv{
    text-align: center;
}
.acccnfimheading{
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.acccnftxt{
    font-size: 14px;
    margin-bottom: 22px;
}
.acccnf-btn{
    background-color: #9c1258;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .4s;
}
.acccnf-btn::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
.accnf-animated{
    animation: moveUp 0.4s ease-out 2s;
    animation-fill-mode: backwards;
}
.acccnf-btn:hover{
    transform: translateY(-0.2rem);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.acccnf-btn:hover::after{
    transform: scalex(1.4) scaleY(1.6);
    opacity: 0;
    background-color: #9c1258;
}
.acccnf-btn:active {
    transform: translateY(-0.1rem);
  }
.padditacct {
    padding-top: 9rem;
}

@media(max-width: 779px) {
    .padditacct {
        padding-top: 4rem;
    }
}