.cnfirmemail_sectn{
    background-color: #23304c;
    height: 100vh;
}
.cnfim-heading{
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 130px;
}
@media (max-width: 760px){
    .cnfim-heading{
        margin-top: 80px;
    }
}
.cnfim-messg{
    text-align: center;
    color: #fff;
    font-size: 15px;
    width: 53%;
    margin-bottom: 26px;
}
@media (max-width: 760px){
    .cnfim-messg{
        width: 100%;
    }
}
.cnfirmspan{
    color: #3965ff;
}
.cnfrmmailrow2{
    justify-content: center;
}
.cnfirmmailform{
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 8px 19px 8px 19px;
}
.cnfimmailinpt{
    padding: 4px;
    border: none !important;
    outline: none;
    margin-top: 8px;
    margin-right: 12px;
}
.cnfimmailinpt::placeholder{
    color: #9999;
    font-size: 12px;
}
.cnfimmailinpt:focus{
    outline: none !important;
}
.confirmtn-btn{
    background-color: #9c1258;
    color: #fff;
    text-align: center;
    padding: 17px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: all .4s;
}
.confirmtn-btn::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
.confirmtn-btn:hover{
    transform: translateY(-0.2rem);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.confirmtn-btn:hover::after{
    transform: scalex(1.2) scaleY(1.4);
    opacity: 0;
    background-color: #9c1258;
}
.confirmtn-btn:active {
    transform: translateY(-0.1rem);
  } 
.cnfrmdiv{
    display: flex;
    color: #3965ff;
    flex-direction: row-reverse;
}
.rsendmail{
    cursor: pointer;
}
.alertzuccessec{
    left:initial !important;
    width: 64%;
    margin: auto;
}
.ecpspn{
    margin-right: 3px;
}
.ecnfirmdivtg{
    display: flex;
    justify-content: center;
}