.avatar-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 20vw;
}

.avatar-circle{
    width: 104px;
    height: 104px;
    border: 3px solid rgba(27,185,120,0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    

}
.avatar-circle .blue{
    border: 3px solid rgba(57,6,203,0.3)
}

.avatar-circle .red{
    border: 3px solid rgba(245,95,68,0.3)
}

.avatar-inner-circle{
    background-color: rgba(27,185,120,0.2);
    width: 104px;
    height: 92px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: none;
    margin: 3px;
    

}
.avatar-inner-circle .red{
    background-color: rgba(245,95,68,0.2);
}
.avatar-inner-circle .blue{
    background-color: rgba(57,6,203,0.2);
}
.initials{
    display: flex;
}

.initials-heading{
    margin: auto;
    color: #1BB978;
    font-size: 20px;
}
.initials-heading .blue{
    color: rgba(57,6,203,1);
}
.initials-heading .red{
    color: rgba(245,95,68,1);
}



