:root {
  --claritypurple: #9c1258;
}
/*View More Modal Styling*/
.modcomplete .modal-dialog {
  max-width: 60%;
}
.modcomplete4 .modal-dialog {
  max-width: 30%;
  min-width: 240px;
}

.modal-content {
  padding: 2.3rem;
}
.modal_title {
  text-align: center;
  font-weight: 600;
  line-height: 2;
}
.close_view {
  margin-top: -3rem;
}
.closeview {
  width: 4%;
  float: right;
}
.modal-body {
  padding-top: 3rem;
}
.titl {
  width: 140px;
}
.modal_det {
  padding-bottom: 1.3rem;
}
.titlee {
  font-weight: 600;
  font-size: 14px;
}
.task_det {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  background: #f5f7f9;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  padding: 1rem;
  resize: none;
}
.date_section {
  width: 49%;
}
.date_det {
  display: flex;
  justify-content: space-between;
}
.date_info {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background: #f5f7f9;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
}
.date_infoq {
  cursor: not-allowed;
}
.note_det {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #dedddd;
  padding: 1rem;
  font-size: 13px;
  resize: none;
}
.request {
  color: #3751ff;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 28px;
  font-size: 13px;
  text-decoration: none;
}
.request:hover,
.request:active {
  font-size: 14px;
  color: #3751ff;
}
.request_input {
  margin-top: -1rem;
}
.mark_complete {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.markit {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 13px;
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  border-radius: 6px;
  font-weight: normal;
  transition: 0.3s;
}
.markit:hover {
  transform: scale(1.1);
}
@media (max-width: 800px) {
  .modal-content {
    padding: 1.2rem;
  }
  .close_view {
    margin-top: -2.3rem;
    margin-right: 1rem;
  }
  .closeview {
    width: 6%;
  }
  .modal-body {
    padding-top: 2rem;
  }
  .viewall {
    margin-bottom: 1rem !important;
  }
  .task_det,
  .date_info {
    padding: 0.5rem;
  }
  .date_section {
    width: 47%;
  }
  .hidinsmall {
    display: none !important;
  }
  .mobileviewtodo {
    margin: auto;
    width: 300px !important;
    max-width: 324px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 600px) {
  .modal-content {
    padding: 1.2rem 0.6rem;
  }
  .date_info {
    padding: 0.2rem;
  }
  .date_det {
    flex-direction: column;
  }
  .date_section {
    width: 75%;
  }
  .sec1 {
    margin-top: 1rem;
  }
  .date_info {
    padding: 0.8rem;
  }
  .markit {
    padding: 0.4rem 0.6rem;
    width: 150px;
  }
}

@media (max-width: 400px) {
  .closeview {
    width: 10%;
  }
  .close_view {
    margin-right: 0.2rem;
  }
  .task_det {
    height: 80px;
  }
  .date_section {
    width: 90%;
  }
}

@media (max-width: 350px) {
  .date_section {
    width: 100%;
  }
  .close_view {
    margin-right: 0;
  }
}

/*Create Task Modal Styling*/
.create_body {
  padding: 3rem 1rem;
}
.create_title {
  font-size: 20px !important;
}
.create_det {
  height: 60px;
}
.createit {
  font-size: 13px;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  border-radius: 6px;
  font-weight: normal;
  transition: 0.3s;
}
.createit:hover {
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .create_body {
    padding: 2rem 2rem;
  }
}

@media (max-width: 700px) {
  .create_body {
    padding: 2rem 1rem;
  }
}

.fixmodal .modal-dialog {
  width: auto !important;
  margin: 3rem auto;
}

@media (max-width: 575px) {
  .fixmodal .modal-dialog {
    max-width: 80%;
  }
}

@media (max-width: 400px) {
  .fixmodal .modal-dialog {
    max-width: 95%;
    margin: 1rem auto;
  }
}
.btnhandle {
  display: flex;
  justify-content: flex-end;
}
.notnow {
  color: #18214d;
  padding-right: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}
.rightnow {
  color: #a5a5a5;
  cursor: pointer;
  font-weight: bold;
}
.ratingcont {
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ratingcont .dv-star-rating i {
  font-size: 2.2em !important;
}
.modcomplete4 .modal-dialog .modal-content {
  padding: 0px;
}
.pleaseRate {
  background: #001833;
  color: #ffffff;
  padding: 1rem;
}
.sizedtodobtn {
  width: 115px;
}
.noplancreate {
  background: #9c1258;
  color: #ffffff;
  font-size: 12px;
  padding: 0.7rem 1rem;
  width: 150px;
  margin: auto;
  border-radius: 5px;
  font-family: "Brfirma-Bold";
  letter-spacing: 0.3px;
  cursor: pointer;
}
.newnorec {
  margin-top: 3rem;
}

/*Task Overview redesign*/
.cardsec1txt {
  font-size: 11px;
  margin-right: 0;
  margin-left: auto;
  font-weight: 600;
  padding: 0.1rem 1rem;
  width: 100px;
}
@media (max-width: 800px) {
  .newprm {
    max-width: 100%;
    flex: 0 0 100%;
    padding-top: 68px;
  }
  .newseccards {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 400px;
    margin: 2rem auto;
    padding-top: 0;
    padding-bottom: 2rem;
  }
  .cardsec1 {
    order: 1;
    flex: 100%;
  }
  .todominittl {
    font-weight: 600;
  }
  .tododurr {
    justify-content: flex-start;
  }
  .tododate {
    text-align: right;
  }
  .tododate1 {
    justify-content: flex-end;
  }
  .cardsec2 {
    order: 2;
    flex: 100%;
    max-width: 100%;
  }
  .cardsec3 {
    order: 3;
    flex: 50%;
    max-width: 50%;
    margin: 0;
  }
  .cardsec3::after {
    content: "";
    width: 34px;
    border: 1px solid #666666;
    position: absolute;
    transform: rotate(90deg);
    margin-top: -1.5rem;
    margin-left: 9.5rem;
  }
  .cardsec4 {
    order: 4;
    flex: 50%;
    max-width: 50%;
    margin: 0;
  }
  .cardsec5 {
    order: 5;
    flex: 100%;
    max-width: 100%;
    padding-top: 0;
  }
  .newgrnbg {
    font-size: 14px;
    margin-top: 1rem;
  }
}
@media (max-width: 500px) {
  .newseccards {
    width: 300px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  .cardsec3::after {
    margin-left: 7rem;
  }
  .cardsec5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .todominittl {
    font-size: 12px;
  }
  .txtfont {
    font-size: 13px;
  }
  .newgrnbg {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
  }
}
.areusure1 {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.popUUp {
  width: 50px;
}
.mddd {
  color: #3965ff;
  background: #fff;
  border: 1px solid #3965ff;
}
.mddd2,
.mddd2:hover {
  background: var(--claritypurple) !important;
  border: 1px solid var(--claritypurple);
  color: #fff !important;
  margin-left: 0px;
}
.warning22e .modal-dialog .modal-content {
  padding: 0px;
  padding-bottom: 1rem;
}
