.payment-section{
    text-align: center;
    padding: 30px 0px 30px 0px;
    background-color: #23304c;
    background-size: cover;
    background-image: url(../../../assets/payment-img.png);
    background-repeat: no-repeat;
}    
.centered_payment{
    justify-content: center;
}
.payment-decription{
    padding-bottom: 155px;
    color: #fff;
}
.payment-header{
    text-align: initial !important;
    padding-bottom: 12px !important;
}
.payment-header span{
    font-size: 12px;
    color: #92969d;
}
.payment-card{
    text-align: initial;
    border-radius: 8px !important;
}
.card-div{
    border-bottom: 1px solid #ebeced;
    padding-bottom: 9px;
    margin-bottom: 24px;
}
.card-div>h6 {
    color: #f3b103;
    font-size: 18px;
}
 .blue{
    color: #1dabf2 !important;
}
.green{
    color: #46d68c !important;
}
.card-div>p {
    font-size: 12px;
    color: #92969d;
}
.card-list{
    text-align: initial;
}
.card-list li{
    font-size: 13px;
    color: #92969d;
    margin-bottom: 12px;
}
.card-list li span{
    color: #f3b103;
}
.card-image{
    margin-right: 11px;
}
.card_btn{
    display: inline-block;
    text-align: center;
    margin: 96px 0px;
    padding: 9px;
    width: 100%;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
}
.card_btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  .card_btn--animated {
    animation: moveUp 0.4s ease-out 2s;
    animation-fill-mode: backwards;
  }
  .card_btn:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  .card_btn:hover::after {
    transform: scalex(1.4) scaleY(1.6);
    opacity: 0;
  }
 .card_btn:active {
    transform: translateY(-0.1rem);
  } 
.btn-yellow{
    background-color: #f3b103;
}
.btn-yellow::after{
    background-color: #f3b103;
}
.btn-blue{
    margin: -3px 0px; 
    background-color: #1dabf2; 
}
.btn-blue::after{
    background-color: #1dabf2;
}
.btn-green{
    margin: 102px 0px;
    background-color: #46d68c;
}
.btn-green::after{
    background-color: #46d68c;
}
@media screen and (max-width:760px){
    .margined_col:not(:last-child){
        margin-bottom: 15px;
    }
}
.red{
    color: #eb5757 !important;
    font-size: 18px;
}
.sub-p{
    font-size: 12px;
    color: #92969d;
}
.btn-red{
    margin: 12px 0px !important;
    color: #92969d;
    border: 1px solid #eb5757;
}
.btn-red:hover{
    background-color: #eb5757;
    color: #fff;
}
.btn-red:hover::after{
    background-color:  #eb5757;
}
.subcription-card{
    margin-top: 26px;
    border-radius: 8px !important;
}