@font-face {font-family: "Brfirma-Regular"; src: url("./Fonts/Brfirma/BRFirma-Regular.ttf"); }

body {
  margin: 0;
  font-family: 'Brfirma-Regular' !important;
  color: #150538;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scroll-behavior: smooth;
  height: 100%;
}
@media(max-width:700px){
  body{
    font-size: 14px;
  }
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #32335A; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#32335A; 
}
.newitem{
  overflow-y: scroll;
  min-height: 500px;
  max-height: 525px;
}